[Unit]
Description=The Bling small-display GUI

[Service]
Type=simple
Environment=VIRTUAL_ENV=/opt/bling/blingenv
ExecStart=/opt/bling/blingenv/bin/python3 /opt/bling.py --hw=st7565.ST7565 --hw=terminal.TermIn

[Install]
WantedBy=multi-user.target

